faster_whisper==0.7.0
ffmpeg==1.4
ffmpeg_python==0.2.0

googletrans==3.1.0a0
moviepy==2.0.0.dev2

numpy
openai_whisper==20230314
pandas==2.0.3
pydub==0.25.1


setuptools==58.1.0

spacytextblob==4.0.0
SpeechRecognition==3.10.0
streamlit==1.25.0
streamlit_extras==0.3.0

